{%  extends 'MAINAPP/home.html' %}
{% load static %}
{% block content %}
<div class="bground1" style="background-color:#000515 ;">
  <br><br><br>
  <div class="container" style="margin-left:auto;margin-right:auto;padding:6%">
    <div class="">
    <div class="row" style="padding:30px;">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12" style="background:linear-gradient(to right, transparent ,#000080 ) ;display:flex;flex-wrap:wrap" >
        <p  class="gradient1"style="color:white;font-size:50px;font-weight:700;font-family: 'Bodoni Moda', serif;">Diabetes <label style="font-size:18px;color:white;font-family: 'Sen', sans-serif;font-weight:400;margin:0px;">Prediction</label></p>
        <p style="font-size:12px;color:white;font-weight:400;">This diabetes prediction tool comes with eight input fields which is used for diagnosing the presence of diabetes. Developed with widely used <label style="color:#AFFFAD;margin:0px;"> Random Forest Algorithm </label>  to produce a predictive model.</p>
      </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-6"style="margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;background:blue;padding:10px;"data-aos="fade-up">
            <div style="width:100%">
              <p style="text-align:center;font-size:24px;color:white;margin:0px;font-weight:700;padding:16px;border-radius:100px;border:3px solid white;margin-right:auto;margin-left:auto;width:80px;height:80px;">90.4</p>
              <p class=""style="text-align:center;font-size:12px;color:white;font-weight:400;margin:5px;">% Tool Prediction Accuracy</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-6"style="margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;background:#1E90FF;padding:10px;"data-aos="fade-down">
            <div style="width:100%">
              <p style="text-align:center;font-size:30px;color:white;margin:0px;font-weight:700;padding:16px;border-radius:100px;border:3px solid white;margin-right:auto;margin-left:auto;width:80px;height:80px;"><i class="bi bi-envelope"></i></p>
              <p style="text-align:center;font-size:12px;color:white;font-weight:400;margin:5px;">Mail Delivered Outcomes for registered users</p>
            </div>
          </div>
    </div>


      <div class="row">
        <div class="col-lg-6 col-md-10 col-sm-12 col-12" style="margin-left:auto;margin-right:auto;margin-bottom:20px;padding:20px;">

            <p style="text-align:center;font-size:12px;margin:5px;color:grey;">Disclaimer. These outcomes are for quick informational purposes only, Consult your local medical authority for advice.</p>
            <hr color="#1C2833" style="margin:8px;margin-bottom:20px;">
        <form method="post" enctype="multipart/form-data" action ="{% url 'diabetes_risk_result' %}">
        {% csrf_token %}

        <input type="number" class="form-control"name="val1" placeholder="Pregnancies" style=" background: linear-gradient(to right ,#050C22, #182857 );border:0px;border-radius:50px;padding:20px;font-size:13px;color:white;margin-bottom:12px;" required>
        <input type="number" class="form-control"name="val2" placeholder="Glucose (Plasma glucose conc.)" style=" background: linear-gradient(to right ,#050C22, #182857 );border:0px;border-radius:50px;padding:20px;font-size:13px;color:white;margin-bottom:12px;" required>
        <input type="number" class="form-control"name="val3" placeholder="Blood Pressure (mm Hg)" style=" background: linear-gradient(to right ,#050C22, #182857 );border:0px;border-radius:50px;padding:20px;font-size:13px;color:white;margin-bottom:12px;" required>
        <input type="number" class="form-control"name="val4" placeholder="Triceps skin fold thickness (mm)" style=" background: linear-gradient(to right ,#050C22, #182857 );border:0px;border-radius:50px;padding:20px;font-size:13px;color:white;margin-bottom:12px;" required>
        <input type="number" class="form-control"name="val5" placeholder="2-Hour Serum Insulin (mu U/ml)" style=" background: linear-gradient(to right ,#050C22, #182857 );border:0px;border-radius:50px;padding:20px;font-size:13px;color:white;margin-bottom:12px;" required>
        <input type="number" step="any"class="form-control"name="val6" placeholder="BMI"style=" background: linear-gradient(to right ,#050C22, #182857 );border:0px;border-radius:50px;padding:20px;font-size:13px;color:white;margin-bottom:12px;" required>
        <input type="number"  step="any"class="form-control"name="val7" placeholder="Diabetes pedigree function" style=" background: linear-gradient(to right ,#050C22, #182857 );border:0px;border-radius:50px;padding:20px;font-size:13px;color:white;margin-bottom:1px;"required>
        <label>
          <label style="font-size:12px;color:#ABB2B9">Don't know your Diabetes pedigree function</label> <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
          style="font-size:14px;border:0px;margin:0px;padding:0px 4px 0px 4px ;background:transparent;border-radius:30px;color:white;">
           <i class="bi bi-patch-question-fill"></i>
         </button>
        <div class="collapse" id="collapseExample">
        <div class="card card-body"
        style="background:black;border-radius:10px;padding:20px;">
        <p style="color:white;font-size:14px;">Use any of the following if not known</p>
        <p style="font-size:12px;color:#BFC9CA;margin:1px;">0.5 for parent, full sibling</p>
        <p style="font-size:12px;color:#BFC9CA;margin:1px;">0.25 half sibling, grandparent, aunt, or uncle </p>
       <p style="font-size:12px;color:#BFC9CA;margin:1px;">0.125 half aunt, half uncle, or first cousin </p>
       </div>
       </div>
      </label>
        <input type="number" class="form-control"name="val8" placeholder="Age (years)"style=" background: linear-gradient(to right ,#050C22, #182857 );border:0px;border-radius:50px;padding:20px;font-size:13px;color:white;margin-bottom:12px;margin-top:12px;" required>
        <br>
    <div class="text-center">
     <button type="submit" value="Submit" class="btn btn-outline-primary" style="border-radius:50px;border-width:2px;font-weight:600;"> Get Results <i class="bi bi-chevron-double-right"></i></button>
    </div>
    </form>

  </div>
    <div class="col-lg-6 col-md-10 col-sm-12 col-12" style="margin-left:auto;margin-right:auto;padding:30px;">

            {% if output1 or output2 or output1 == 0 %}
                <div style="width:100%;padding:0px 10px 0px 10px;background:rgba(255,255,255,0.02);margin-bottom:20px;">
                  <table class="table table-striped table-borderless  table-sm table-dark" style="background:transparent">
                    <thead><tr><td scope="row"style="font-size:12px;color:#E5E8E8"></td><td style="font-size:14px;font-weight:600;">Measures</td><td  style="font-size:14px;font-weight:600;">Input</td></tr></thead>
                  <tbody>
                    <tr><td scope="row"style="font-size:12px;color:#E5E8E8">1</td><td style="font-size:12px;color:#E5E8E8">Pregnancies </td><td style="font-size:12px;color:white;font-weight:600;">{{ p }}</td></tr>
                    <tr><td scope="row"style="font-size:12px;color:#E5E8E8">2</td><td style="font-size:12px;color:#E5E8E8">Glucose</td><td style="font-size:12px;color:white;font-weight:600;">{{ g }}</td></tr>
                    <tr><td scope="row"style="font-size:12px;color:#E5E8E8">3</td><td style="font-size:12px;color:#E5E8E8">Blood Pressure</td><td style="font-size:12px;color:white;font-weight:600;">{{ bp }}</td></tr>
                    <tr><td scope="row"style="font-size:12px;color:#E5E8E8">4</td><td style="font-size:12px;color:#E5E8E8">Skin Thickness </td><td style="font-size:12px;color:white;font-weight:600;">{{ st }}</td></tr>
                    <tr><td scope="row"style="font-size:12px;color:#E5E8E8">5</td><td style="font-size:12px;color:#E5E8E8">Insulin </td><td style="font-size:12px;color:white;font-weight:600;">{{ insulin }}</td></tr>
                    <tr><td scope="row"style="font-size:12px;color:#E5E8E8">6</td><td style="font-size:12px;color:#E5E8E8">BMI </td><td style="font-size:12px;color:white;font-weight:600;">{{ bmi }}</td></tr>
                    <tr><td scope="row"style="font-size:12px;color:#E5E8E8">7</td><td style="font-size:12px;color:#E5E8E8">Diabetes pedigree fn. </td><td style="font-size:12px;color:white;font-weight:600;">{{ dpf }}</td></tr>
                    <tr><td scope="row"style="font-size:12px;color:#E5E8E8">8</td><td style="font-size:12px;color:#E5E8E8">Age</td><td style="font-size:12px;color:white;font-weight:600;">{{ age }}</td></tr>
                  </tbody>
                </table>
                </div>

                <div style="width:100%;padding:13px;background:white;border-radius:13px;">
                  <p style="color:black;font-weight:700;font-size:16px;text-align:center;"><i class="fa fa-heartbeat" aria-hidden="true"></i> Outcome</p>
                  <hr >
                  {% if output1 > 80 %}
                  <p style="margin:0px;color:grey;font-size:13px;">Diabetes Risk <label style="margin:0px;color:red;font-weight:600;" >&nbsp;&nbsp;{{ output1 }} %</label></p>
                  {% if output2 < 1 %}
                  <p style="margin:0px;color:red;font-weight:600;font-size:13px;">Lower chances of diabetes.</p>
                  {% else %}
                  <br>
                  <p style="margin:0px;color:#ff0000;font-weight:600;font-size:13px;">Higher risk of diabetes, consult your local medical authority for advice.</p>
                  {% endif %}

                  {% elif output1 > 60 %}
                  <p style="margin:0px;color:grey;font-size:13px;">Diabetes Risk <label style="margin:0px;color:#c26629;font-weight:600;" >&nbsp;&nbsp;{{ output1 }} %</label></p>
                  {% if output2 < 1 %}
                  <p style="margin:0px;color:#c26629;font-weight:600;font-size:13px;">Lower chances of diabetes.</p>
                  {% else %}
                  <br>
                  <p style="margin:0px;color:#c26629;font-weight:600;font-size:13px;">Higher risk of diabetes, consult your local medical authority for advice.</p>
                  {% endif %}

                  {% elif output1 > 40 %}
                  <p style="margin:0px;color:grey;font-size:13px;">Diabetes Risk <label style="margin:0px;color:#cccc00;font-weight:600;" >&nbsp;&nbsp;{{ output1 }} %</label></p>
                  {% if output2 < 1 %}
                  <p style="margin:0px;color:#cccc00;font-weight:600;font-size:13px;">Lower chances of diabetes.</p>
                  {% else %}
                  <br>
                  <p style="margin:0px;color:#cccc00;font-weight:600;font-size:13px;">Higher risk of diabetes, consult your local medical authority for advice.</p>
                  {% endif %}

                  {% elif output1 > 20 %}
                  <p style="margin:0px;color:grey;font-size:13px;">Diabetes Risk <label style="margin:0px;color:#9ca642;font-weight:600;" >&nbsp;&nbsp;{{ output1 }} %</label></p>
                  {% if output2 < 1 %}
                  <p style="margin:0px;color:#9ca642;font-weight:600;font-size:13px;">Lower chances of diabetes.</p>
                  {% else %}
                  <br>
                  <p style="margin:0px;color:#9ca642;font-weight:600;font-size:13px;">Higher risk of diabetes, consult your local medical authority for advice.</p>
                  {% endif %}

                  {% else %}
                  <p style="margin:0px;color:gre;font-size:13px;">Diabetes Risk <label style="margin:0px;color:#66ff66;font-weight:600;" >&nbsp;&nbsp;{{ output1 }} %</label></p>
                  {% if output2 < 1 %}
                  <p style="margin:0px;color:#66ff66;font-weight:600;font-size:13px;">Lower chances of diabetes.</p>
                  {% else %}
                  <br>
                  <p style="margin:0px;color:#66ff66;font-weight:600;font-size:13px;">Higher risk of diabetes, consult your local medical authority for advice.</p>
                  {% endif %}

                  {% endif %}
              </div>
            <div class="text-center">
              <br>
              <a class="btn btn-outline-primary" href="{% url 'diabetes_risk'%}" style="border-radius:30px;border-width:2px;font-size:15px;margin:auto;font-weight:700;margin-bottom:20px;">Start new search <i class="bi bi-chevron-double-right"></i></a>

            </div>

            {% else %}
                <div style="width:100%;padding:0px 10px 0px 10px;background:rgba(255,255,255,0.02);margin-bottom:20px;">
                  <table class="table table-striped table-borderless  table-sm table-dark" style="background:transparent">
                    <thead><tr><td scope="row"style="font-size:12px;color:#E5E8E8"></td><td style="font-size:14px;font-weight:600;">Measures</td><td  style="font-size:14px;font-weight:600;">Input</td></tr></thead>
                  <tbody>
                    <tr><td scope="row"style="font-size:12px;color:#E5E8E8">1</td><td style="font-size:12px;color:#E5E8E8">Pregnancies </td><td style="font-size:12px;color:white;font-weight:600;">NA</td></tr>
                    <tr><td scope="row"style="font-size:12px;color:#E5E8E8">2</td><td style="font-size:12px;color:#E5E8E8">Glucose</td><td style="font-size:12px;color:white;font-weight:600;">NA</td></tr>
                    <tr><td scope="row"style="font-size:12px;color:#E5E8E8">3</td><td style="font-size:12px;color:#E5E8E8">Blood Pressure</td><td style="font-size:12px;color:white;font-weight:600;">NA</td></tr>
                    <tr><td scope="row"style="font-size:12px;color:#E5E8E8">4</td><td style="font-size:12px;color:#E5E8E8">Skin Thickness </td><td style="font-size:12px;color:white;font-weight:600;">NA</td></tr>
                    <tr><td scope="row"style="font-size:12px;color:#E5E8E8">5</td><td style="font-size:12px;color:#E5E8E8">Insulin </td><td style="font-size:12px;color:white;font-weight:600;">NA</td></tr>
                    <tr><td scope="row"style="font-size:12px;color:#E5E8E8">6</td><td style="font-size:12px;color:#E5E8E8">BMI </td><td style="font-size:12px;color:white;font-weight:600;">NA</td></tr>
                    <tr><td scope="row"style="font-size:12px;color:#E5E8E8">7</td><td style="font-size:12px;color:#E5E8E8">Diabetes pedigree fn. </td><td style="font-size:12px;color:white;font-weight:600;">NA</td></tr>
                    <tr><td scope="row"style="font-size:12px;color:#E5E8E8">8</td><td style="font-size:12px;color:#E5E8E8">Age</td><td style="font-size:12px;color:white;font-weight:600;">NA</td></tr>
                  </tbody>
                </table>
                </div>

          <div style="width:100%;padding:13px;background:white;border-radius:13px;">
            <p style="color:black;font-size:16px;text-align:center;font-weight:700;"><i class="fa fa-heartbeat" aria-hidden="true"></i> Outcome</p>
            <hr >
            <p style="text-align:center;color:grey;font-size:12px;">No measures provided for prediction.</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
