{%  extends 'MAINAPP/home.html' %}
{% load static %}
{% block content %}
<div class="bground2" style="">
<br><br><br><br><br><br>
<div class="container" style="padding:6%;padding-top:0px;">
  <div class="hiwtools">
    <p class="logogradient"style="color:white;font-size:45px;margin:0px;text-align:center;font-family: 'Bodoni Moda', sans-serif;">Making Better Decisions</p>
    <p style="text-align:center;font-size:12px;color:white;margin:10px;">We are with you to assist you with specialized diagnostic tools.</p>
    <hr style="border:0;margin-top:0px;height: 1px;background-image: linear-gradient(to right, rgba(28, 40, 51 , 0), rgba(28, 40, 51 , 0.75), rgba(28, 40, 51 , 0));">

    <br>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-12" style="margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;margin-bottom:20px;">
        <div  style="display:flex;flex-wrap:wrap;width:100%;margin-right:auto;margin-left:auto;padding:1px; background:linear-gradient(to bottom right,rgba(23, 32, 42,0.7) 10% , #000000 40%,#000000 60%, rgba(23, 32, 42,0.7) 90%);">
          <div class="" style="width:100%;background:black;padding:19px;">
            <p style="color:white;font-size:30px;font-weight:600;margin:0px;">Four</p>
            <p style="font-size:12px;color:#BDC3C7;margin:0px;">diagnosis tools available for use with effortless usage.</p>

          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12" style="margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;margin-bottom:20px;">
        <div  style="display:flex;flex-wrap:wrap;width:100%;margin-right:auto;margin-left:auto;padding:1px; background:linear-gradient(to bottom left,rgba(23, 32, 42,0.7) 10% , #000000 40%,#000000 60%, rgba(23, 32, 42,0.7) 90%);">
          <div class="" style="background:black;padding:19px;width:100%;">
            <p style="color:white;font-size:30px;font-weight:600;margin:0px;">Faster</p>
            <p style="font-size:12px;color:#BDC3C7;margin:0px;">as much to deliver the upshot within seconds.</p>

          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12" style="margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;margin-bottom:20px;">
        <div  style="display:flex;flex-wrap:wrap;width:100%;margin-right:auto;margin-left:auto;padding:1px; background:linear-gradient(to bottom right,rgba(23, 32, 42,0.7) 10% , #000000 40%,#000000 60%, rgba(23, 32, 42,0.7) 90%);">
          <div class="" style="width:100%;background:black;padding:19px;">
            <p style="color:white;font-size:30px;font-weight:600;margin:0px;">Clinical</p>
            <p style="font-size:12px;color:#BDC3C7;margin:0px;">Decision support with specialized tools.</p>

          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12" style="margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;margin-bottom:20px;">
        <div  style="display:flex;flex-wrap:wrap;width:100%;margin-right:auto;margin-left:auto;padding:1px; background:linear-gradient(to bottom left,rgba(23, 32, 42,0.7) 10% , #000000 40%,#000000 60%, rgba(23, 32, 42,0.7) 90%);">
          <div class="" style="width:100%;background:black;padding:19px;">
            <p style="color:white;font-size:30px;font-weight:600;margin:0px;">Free</p>
            <p style="font-size:12px;color:#BDC3C7;margin:0px;">tools to detect your health issues with precise results.</p>

          </div>
        </div>
      </div>
      <br>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12" style="margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;margin-bottom:30px;"data-aos="fade-up">
        <div style="width:100%;background: linear-gradient(to bottom right, #000000 40%, rgba(23, 32, 42,0.45) 100%);padding:20px;">
          <p style="text-align:center;font-size:35px;color:#566573;font-weight:700;padding:10px 0px 10px 0px;border-radius:100px;border:4px solid #566573;margin-right:auto;margin-left:auto;width:80px;height:80px;">1</p>
        <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-6 col-12">
            <p style="color:white;font-size:17px;font-weight:600;margin: 0px;font-family: 'Comfortaa', cursive;">Diabetes Prediction</p>
            <p style="color:#909497 ;font-size:12px;margin:0px;">The HeartBeat</p>
            <hr color="#1b2631"style="margin:10px 0px 15px 0px;">
          </div>
          <div class="text-right col-lg-5 col-md-5 col-sm-6 col-12">
            <label><a  class="glowicon"href="{% url 'diabetes_risk' %}" style="border-radius:30px;border-width:0px;font-size:13px;margin:auto;font-weight:700;">Open</a>&nbsp;&nbsp;</label>
            <label style="font-size:13px;"><a href="{% url 'home' %}#subscribe" style="color:#A6ACAF;"><i class="bi bi-bell-fill"></i></a>&nbsp;&nbsp;</label>
            <label style="font-size:13px;"><a href="tel:7858832086" style="color:#A6ACAF;"><i class="bi bi-telephone-fill"></i></a>&nbsp;&nbsp;</label>
            <label style="font-size:13px;"><a class=""href="mailto:mrinalmayank7@gmail.com" style="color:#A6ACAF;"><i class="bi bi-envelope-fill"></i></a>&nbsp;&nbsp;</label>
            <br>
          </div>
        </div>
        <p style="font-size:11px;color:#BFC9CA;">The diabetes risk prediction tool is provided you with eight input fields which includes Pregnancies, Glucose, Blood Pressure, Skin Thickness	, Insulin, BMI, Diabetes Pedigree Function & Age which is used for diagnosing the presence of diabetes. Developed with two widely used algorithm providing an accuracy of 90.4 % of correct results. Random Forest Regressor & Random Forest Classifier is utilized for training to propose a predictive model. </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12" style="margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;margin-bottom:30px;"data-aos="fade-up">
        <div class="" style="width:100%;background: linear-gradient(to bottom left, #000000 40%, rgba(23, 32, 42,0.45) 100%);padding:20px;">
          <p style="text-align:center;font-size:35px;color:#566573;font-weight:700;padding:10px 0px 10px 0px;border-radius:100px;border:4px solid #566573;margin-right:auto;margin-left:auto;width:80px;height:80px;">2</p>
        <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-6 col-12">
            <p style="color:white;font-size:17px;font-weight:600;margin: 0px;font-family: 'Comfortaa', cursive;">CVD Prediction </p>
            <p style="color:#909497 ;font-size:12px;margin:0px;">The HeartBeat</p>
            <hr color="#1b2631"style="margin:10px 0px 15px 0px;">
          </div>
          <div class="text-right col-lg-5 col-md-5 col-sm-6 col-12">
            <label><a  class="glowicon"href="{% url 'cvd_prediction' %}" style="border-radius:30px;border-width:0px;font-size:13px;margin:auto;font-weight:700;">Open</a>&nbsp;&nbsp;</label>
            <label style="font-size:13px;"><a href="{% url 'home' %}#subscribe" style="color:#A6ACAF;"><i class="bi bi-bell-fill"></i></a>&nbsp;&nbsp;</label>
            <label style="font-size:13px;"><a href="tel:7858832086" style="color:#A6ACAF;"><i class="bi bi-telephone-fill"></i></a>&nbsp;&nbsp;</label>
            <label style="font-size:13px;"><a class=""href="mailto:mrinalmayank7@gmail.com" style="color:#A6ACAF;"><i class="bi bi-envelope-fill"></i></a>&nbsp;&nbsp;</label>
            <br>
          </div>
        </div>
        <p style="font-size:11px;color:#BFC9CA;">The Cardiovascular Disease prediction tool is provided along with eleven input fields to predict the target outcome on the basis of the following measures provided : Age ,Resting blood pressure , Cholesterol, Thalach, Oldpeak, Gender, Fasting blood sugar > 120 mg/dl, Chest pain type, Resting ECG results, Exercise induced angina & Slope of the peak exercise ST segment. Trained with Random Forest Algorithm. Manual analysis of data is a lengthy and time consuming and with this tool the CVD can be predicted within seconds providing doctors & specialist with 90.5% of accurate results. </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12" style="margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;margin-bottom:30px;"data-aos="fade-up">
        <div class="" style="width:100%;background: linear-gradient(to top right, #000000 40%, rgba(23, 32, 42,0.45) 100%);padding:20px;">
          <p style="text-align:center;font-size:35px;color:#566573;font-weight:700;padding:10px 0px 10px 0px;border-radius:100px;border:4px solid #566573;margin-right:auto;margin-left:auto;width:80px;height:80px;">3</p>
        <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-6 col-12">
            <p style="color:white;font-size:17px;font-weight:600;margin: 0px;font-family: 'Comfortaa', cursive;">Liver Diagnosis </p>
            <p style="color:#909497 ;font-size:12px;margin:0px;">The HeartBeat</p>
            <hr color="#1b2631"style="margin:10px 0px 15px 0px;">
          </div>
          <div class="text-right col-lg-5 col-md-5 col-sm-6 col-12">
            <label><a  class="glowicon"href="{% url 'liver_diagnosis' %}" style="border-radius:30px;border-width:0px;font-size:13px;margin:auto;font-weight:700;">Open</a>&nbsp;&nbsp;</label>
            <label style="font-size:13px;"><a href="{% url 'home' %}#subscribe" style="color:#A6ACAF;"><i class="bi bi-bell-fill"></i></a>&nbsp;&nbsp;</label>
            <label style="font-size:13px;"><a href="tel:7858832086" style="color:#A6ACAF;"><i class="bi bi-telephone-fill"></i></a>&nbsp;&nbsp;</label>
            <label style="font-size:13px;"><a class=""href="mailto:mrinalmayank7@gmail.com" style="color:#A6ACAF;"><i class="bi bi-envelope-fill"></i></a>&nbsp;&nbsp;</label>
            <br>
          </div>
        </div>
        <p style="font-size:11px;color:#BFC9CA;">This Liver Disease prediction tool is developed with one of the most powerful algorithm considered in the field of Machine Learning , the Gradient boosting Regressor & Gradient boosting Classifier Algorithm  which is used for diagnosing the presence of liver disease. The accuracy of the tool stands at 84% , provided with ten input fields for the identification of liver disease . </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12" style="margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;margin-bottom:30px;"data-aos="fade-up">
        <div class="" style="width:100%;background: linear-gradient(to top left, #000000 40%, rgba(23, 32, 42,0.45) 100%);padding:20px;">
          <p style="text-align:center;font-size:35px;color:#566573;font-weight:700;padding:10px 0px 10px 0px;border-radius:100px;border:4px solid #566573;margin-right:auto;margin-left:auto;width:80px;height:80px;">4</p>
        <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-6 col-12">
            <p style="color:white;font-size:17px;font-weight:600;margin: 0px;font-family: 'Comfortaa', cursive;">Detect Brain Tumour</p>
            <p style="color:#909497 ;font-size:12px;margin:0px;">The HeartBeat</p>
            <hr color="#1b2631"style="margin:10px 0px 15px 0px;">
          </div>
          <div class="text-right col-lg-5 col-md-5 col-sm-6 col-12">
            <label><a  class="glowicon"href="{% url 'detect_brain_tumor' %}" style="border-radius:30px;border-width:0px;font-size:13px;margin:auto;font-weight:700;">Open</a>&nbsp;&nbsp;</label>
            <label style="font-size:13px;"><a href="{% url 'home' %}#subscribe" style="color:#A6ACAF;"><i class="bi bi-bell-fill"></i></a>&nbsp;&nbsp;</label>
            <label style="font-size:13px;"><a href="tel:7858832086" style="color:#A6ACAF;"><i class="bi bi-telephone-fill"></i></a>&nbsp;&nbsp;</label>
            <label style="font-size:13px;"><a class=""href="mailto:mrinalmayank7@gmail.com" style="color:#A6ACAF;"><i class="bi bi-envelope-fill"></i></a>&nbsp;&nbsp;</label>
            <br>
          </div>
        </div>
        <p style="font-size:11px;color:#BFC9CA;">This  Brain Tumour Detection tool is designed to assist the specialists in detecting brain tumour with the help of MRI extracted features which include first-order features and second order texture features. Developed with widely used Random Forest Algorithm which is used for both classification and regression problems, to produce a predictive model. The accuracy of the tool stands at 92% provided with seventeen input fields to predict the final outcome.  </p>
        </div>
      </div>



    </div>
  </div>

</div>
</div>

{% endblock content %}
