{%  extends 'MAINAPP/home.html' %}
{% load static %}
{% block content %}
<div class="" style="background-color:#000515 ;">
<br><br><br><br><br><br>
<div class="loginwindow container" style="padding-bottom:50px;">
  <div class="row">

    <div class="col-lg-6 col-md-10 col-sm-12 col-12" style="margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;">
      <div class="" style="width:100%;padding:0% 20% 0% 20%;">
        <p style="font-size:50px;color:white;">Log In</p>
        <hr color="#1C2833" style="margin:8px;margin-bottom:20px;">

        {% if user.is_authenticated %}
            <p style="text-align:center;color:#24FF60 ;font-size:13px">You are already logged in.</p>
            {% else %}
            <form class="needs-validation" action="{% url 'user_login' %}" method="POST" novalidate>
              {% csrf_token %}
              <div class="required_fields">
                <input type="text" class="form-control"name="username" placeholder="Username"
                style=" background: linear-gradient(to right ,#050C22, #182857 );border:0px;border-radius:50px;padding:20px;font-size:13px;color:white;" required>
              <div class="invalid-feedback">
                  <p style="font-size:12px;margin:3px;text-align:right;">Invalid username</p>
              </div>
              <br>
              </div>

              <div class="required_fields">
                <input type="password" class="form-control"name="password" placeholder="Password" id="myInput"
                style=" background: linear-gradient(to right ,#050C22, #182857 );border:0px;border-radius:50px;padding:20px;font-size:13px;color:white;" required>

              <div class="invalid-feedback">
                  <p style="font-size:12px;margin:3px;text-align:right;">Invalid password</p>
              </div>
              </div>

                <input type="checkbox"  onclick="myFunction()">
                <label for="myInput" style="font-size:12px;color:#34495E;margin-top:10px;margin-bottom:20px;">Show Password</label>

                {% for message in messages %}
                <p style="text-align:center;color:#FF3737;font-size:13px">{{message}}</p>
                {% endfor %}
              <div class="text-center">
                <input type="submit" class="btn btn-outline-primary text-center" value=" Log In " style="border-radius:30px;border-width:2px;font-size:16px;margin:auto;font-weight:700">
                <br>
        </div>
        </form>
        <p style="text-align:right;margin:10px;font-size:12px;"><a href="{% url 'reset_password' %}">Forgot password?</a></p>

        <hr style="border:0;margin-top:0px;height: 1px;background-image: linear-gradient(to right, rgba(255,255,255, 0), rgba(255,255,255, 0.75), rgba(255,255,255, 0));">
        <p style="text-align:center;margin:2px;color:white;font-weight:500;fint-size:15px;">OR</p>
        <p style="font-size:15px;color:#D5D8DC ;text-align:center;border:1px solid #212F3D;border-radius:30px;padding:8px;margin:5px;">Don't have an account? <a  href="{% url 'register' %}" style="font-weight:700;padding:5px;">Sign up</a></p>
        <br><br>
          {% endif  %}

      </div>
    </div>

    <div class="col-lg-6 col-md-10 col-sm-12 col-12" style="margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;">
      <div class="" style="width:100%;padding:0% 10% 0% 10%;">
        <div style="border-left:1px solid #081121  ;padding:0% 10% 0% 10%;">

        <p class="logogradient"style="font-size:35px;font-weight:400;color:white;font-family:'Codystar', cursive;margin-bottom:0px;">The</p>
        <p class="logogradient"style="font-size:35px;font-weight:400;color:white;font-family:'Codystar', cursive;">HeartBeat</p>

        <p style="font-size:13px;color:#BFC9CA;"><b>The Heartbeat</b> is your intelligent diagnostic expert integrated with widely used machine learning models with 90% of accuracy. </p>
        <p style="font-size:13px;color:#BFC9CA;">We offer variety of tools to predict the presence of diabetes,cardiovascular disease , Brain Tumour & few more. Apart from this the user can also dive in the pool of healthcare articles & subscribe to our newsletter to get latest updates.</p>
        <label style="font-size:13px;font-weight:400;color:white;">The HeartBeat Team </label>
        <hr color="#1C2833" style="margin:0px;margin-bottom:15px;margin-right:50%;">
        <p style="font-size:12px;font-weight:400;color:white;margin:0px;">Founder . <i> Mrinal Mayank</i></p>

        </div>
      </div>
    </div>
  </div>

</div>

</div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
'use strict';
window.addEventListener('load', function() {
  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.getElementsByClassName('needs-validation');
  // Loop over them and prevent submission
  var validation = Array.prototype.filter.call(forms, function(form) {
    form.addEventListener('submit', function(event) {
      if (form.checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add('was-validated');
    }, false);
  });
}, false);
})();
</script>

{% endblock content %}
