{%  extends 'MAINAPP/home.html' %}
{% load static %}
{% block content %}

<div class="" style="background-color:#000515 ;">
<br><br><br><br><br><br>
<div class="container" style="padding-bottom:50px;">
  <div class="row">

    <div class="col-lg-6 col-md-9 col-sm-12 col-12 text-center" style="margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;">
      <div class="" style="width:100%;padding:5%">
        <p style="font-size:50px;color:white;">Reset Password</p>
        <hr color="#1C2833" style="margin:8px;margin-bottom:20px;">
        <p style="color:#24FF60;font-size:15px;">Reset link sent to your registered email</p>
        <p style="font-size:13px;color:#BFC9CA;">Did not receieved ? Write your registered email correctly, also check your spam folder and try again.</p>

        <a class="btn btn-outline-light" href="{% url 'reset_password' %}" style="border-radius:30px;border-width:2px;font-size:16px;margin:auto;font-weight:600;margin:10px;">Go Back</a>

      </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}
