{%  extends 'MAINAPP/home.html' %}
{% load static %}
{% block content %}

<div class="" style="background-color:#000515 ;">
<br><br><br><br><br><br>
<div class="container" style="padding-bottom:150px;">
  <div class="row">

    <div class="col-lg-6 col-md-9 col-sm-12 col-12" style="margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;">
      <div class="" style="width:100%;padding:5%">
        <p style="font-size:50px;color:white;text-align:center;">New Password</p>
        <hr color="#1C2833" style="margin:8px;margin-bottom:20px;">
        <p style="font-size:13px;text-align:center;color:#BFC9CA;">This action will update your existing password. Set your new password correctly , minimum eight characters required.</p>
        {% if form.errors %}
        <div style="color:#FF3737;font-size:13px;">{{form.new_password1.errors}}</div>
        <div style="color:#FF3737;font-size:13px;">{{form.new_password2.errors}}</div>
        {% else %}
        <form  method="post">
          {% csrf_token %}
          <label for="id_new_password1" style="color:white;font-size:14px;font-weight:600;">New password</label>
          <input type="password" class="form-control"name="new_password1" id="id_new_password1"style="color:black;background:white;border-width:0px;font-size:14px;border-radius:30px;" required>
          <br>
          <label for="id_new_password2" style="color:white;font-size:14px;font-weight:600;">Confirm new password</label>
          <input type="password" class="form-control"name="new_password2" id="id_new_password2"style="color:black;background:white;border-width:0px;font-size:14px;border-radius:30px;" required>
          <br>
          <div class="text-center">
          <input type="submit" class="btn btn-outline-primary text-center"
          href="templates/MAINAPP/password_reset_complete.html"value=" Submit " style="font-size:16px;width:100px;border-width:2px;border-radius:50px;font-weight:600">
          </div>
        </form>
    {% endif %}
      </div>
    </div>
  </div>
</div>
</div>


{% endblock content %}
