{%  extends 'MAINAPP/home.html' %}
{% load static %}
{% block content %}

<br><br><br><br><br><br><br>
<div class="container">
  <div class="col-lg-9 col-md-10 col-sm-12 col-12" style="margin-left:auto;margin-right:auto;border:1px solid #1C2833;padding:20px;">
<p style="text-align:center;font-size:28px;font-family: 'Bodoni Moda', serif;color:white;font-weight:300;">Privacy Policy</p>
    <hr color="white">
<p style="font-size:13px;color:white;">Your privacy matters to us. In order to protect your privacy, we provide this documentation explaining our practices and the decision you can make about how your data is collected and used. </p>
<br><p style="font-size:20px;color:white;text-align:center;font-weight:600;">Information we collect</p><br>
<p style="font-size:16px;font-weight:500;color:white;"><i class="bi bi-person-plus-fill"></i> Registration / Sign up</p><hr color="#1C2833">
<div style="font-size:13px;color:#B2BABB;">
<p style="margin:5px;">To register with us you need to provide:</p>
<ol>
<li><p style="margin:1px;">Username</p></li>
<li><p style="margin:1px;">Your name</p></li>
<li><p style="margin:1px;">Email address</p></li>
<li><p style="margin:1px;">Password</p></li>
</ol>
<p style="margin:5px;">The data is used to provide you updates / notifications / advertisements / services to your registered email. We do not give access to your password to anyone and is only confined to the registered user. You can reset your password with the help of your registered email id. We also collect the login activity of the registered users.</p>
</div>
<br>
<p style="font-size:16px;font-weight:500;color:white;"><i class="bi bi-bell-fill"></i> Subscription </p><hr color="#1C2833">
<div style="font-size:13px;color:#B2BABB;">
<p style="margin:5px;">To subscribe to us you need to provide :</p>
<ol>
<li><p style="margin:1px;">Your name</p></li>
<li><p style="margin:1px;">Email address</p></li>
</ol>
<p style="margin:5px;">The data is used to send you updates / notifications / advertisements / services to the email id which you had provided during the subscription to our website.</p>
</div>
<br>
<p style="font-size:16px;font-weight:500;color:white;"><i class="bi bi-reply-all-fill"></i> Contact</p><hr color="#1C2833">

<div style="font-size:13px;color:#B2BABB;">
<p style="margin:5px;">To receive your message we store your name and email as the identity of the respondent and may send you email to notify you about your feedback or query.</p>
</div>
<br>
<p style="font-size:16px;font-weight:500;color:white;">Data we collect for prediction / diagnostic tools </p><hr color="#1C2833">

<div style="font-size:13px;color:#B2BABB;">
<p style="margin:5px;color:white;font-size:14px;">Diabetes Prediction </p>
<p style="margin:5px;">The diabetes risk prediction tool is provided you with eight input fields which is used for diagnosing the presence of diabetes. The date we collect in order to process the outcome are <b>Pregnancies ,Glucose ,Blood Pressure, Skin Thickness ,Insulin ,BMI , Diabetes Pedigree Function & Age.</b> </p>
<br>
<p style="margin:5px;color:white;font-size:14px;">Cardiovascular Disease Prediction  </p>
<p style="margin:5px;">The Cardiovascular Disease prediction tool is provided along with eleven input fields to predict the target outcome on the basis of the measures provided. The date we collect in order to process the outcome are <b> Age, Resting blood pressure, Cholesterol, Thalach, Oldpeak, Gender, Fasting blood sugar, Chest pain type, Resting electrocardiographic, Exercise induced angina, Slope of the peak exercise ST segment. </b></p>
<br>
<p style="margin:5px;color:white;font-size:14px;">Liver Disease Prediction  </p>
<p style="margin:5px;">The date we collect in order to process the outcome are <b> Age, Gender, Total Bilirubin, Direct Bilirubin, Alkaline Phosphotase, Alamine Aminotransferase, Aspartate Aminotransferase, Total Proteins, Albumin, Albumin and Globulin Ratio.</b></p>
<br>
<p style="margin:5px;color:white;font-size:14px;">Brain Tumour Prediction </p>
<p style="margin:5px;">The date we collect in order to process the outcome are <b> Mean, Variance, Standard Deviation, Entropy, Skewness, Kurtosis, Contrast, Energy, ASM, Homogeneity, Dissimilarity, Correlation, Coarseness, PSNR, SSIM, MSE, DC. </b></p>

</div>
<br>
<br>
<p style="font-size:20px;color:white;text-align:center;font-weight:600;">Sharing Information</p>
<hr color="#1C2833">
<div style="font-size:13px;color:#B2BABB;">
<p style="margin:5px;">We share personal information/data collected through our website with third-party service providers who act for or on our behalf. We want you to understand when and with whom we may share the information we collect.</p>
<ol>
<li><p style="margin:1px;"><b>Authorized third-party member and service providers.</b>We may share your information/data with third-party vendors and service-providers that help us with specialized services, including billing, payment processing, customer service, email deployment,marketing, advertising, performance monitoring, hosting, and data processing.</p></li>
<li><p style="margin:1px;"><b>Corporate member.</b> We may share your information with our corporate affiliates that are subject to this policy.</p></li>
<li><p style="margin:1px;"><b>Legal matters.</b> We may disclose information to respond to court orders, legal process, law enforcement requests, legal claims or government inquiries, and to protect and defend the rights, interests, health, safety, and security of Pew Research Center, our affiliates, users, or the public.</p></li>
<li><p style="margin:1px;"><b>Business transfers.</b> We may share your information in connection with a substantial corporate transaction, such as the sale of a website, a merger, consolidation, asset sale, or in the unlikely event of bankruptcy.</p></li>

</ol>
</div>
<br>

<p style="text-align:center;font-size:28px;font-family: 'Bodoni Moda', serif;color:white;font-weight:300;">Terms of Use</p>
<hr color="white">
<p style="font-size:13px;margin:5px;color:white;font-weight:600;">Welcome to The HeartBeat !</p>
<p style="font-size:13px;margin:5px;color:white;">These Terms of Use govern your use of our website when you create an account or use our services as a visitor, you agree to these terms.</p>
<br>
<p style="font-size:18px;font-weight:500;color:white;"><i class="bi bi-check2"></i> Do's</p><hr color="#1C2833">
<div style="font-size:13px;color:#B2BABB;">
<p style="margin:5px;">You agree to the below terms that you will :</p>
<ol>
<li><p style="margin:1px;">Provide true information / data.</p></li>
<li><p style="margin:1px;">Use your correct name / email while registering with us.</p></li>
<li><p style="margin:1px;">Use the Services in an ethical manner.</p></li>
</ol>
</div>
<br>
<p style="font-size:18px;font-weight:500;color:white;"><i class="bi bi-x"></i> Don'ts</p><hr color="#1C2833">
<div style="font-size:13px;color:#B2BABB;">
<p style="margin:5px;">You agree to the below terms that you will not :</p>
<ol>
<li><p style="margin:1px;">Create a fake identity on the website/misrepresent your identity.</p></li>
<li><p style="margin:1px;">create account for anyone else other than you .</p></li>
<li><p style="margin:1px;">Send spam or unethical mail/message.</p></li>
<li><p style="margin:1px;">Copy, use or distribute any information obtained from our services, whether directly or through third parties without the consent of the organization.</p></li>
<li><p style="margin:1px;">Place false or misleading information about our website.</p></li>
<li><p style="margin:1px;">Use any deep-link, page-scrape, robot, spider or any other methodology, to access, copy or monitor any website content.</p></li>
</ol>
</div>
<br>
<div class="text-center"style="font-size:14px;font-weight:400;border:1px solid grey;padding:10px;color:white;">
<p> This is a completely project based website / non-commercial website / non-profitable website & is limited as work sample / non-commercial use / non-profitable use only. By creating an account with our website, or by using or visiting our website, you are bound to the terms of use & indicate the acceptance of the terms of use mentioned above.</p>
</div>
<br>

<p style="font-size:18px;font-weight:500;color:white;">Contact Us</p>
<hr color="#1C2833">
<div style="font-size:13px;color:#B2BABB;">
<p style="margin:5px;">If you have any comments or questions regarding this Privacy Policy Statement or our data handling practices or terms of use you can contact us.</p>
<ol>
<li><p style="margin:1px;"><b>Email.</b> mrinalmayank7@gmail.com</p></li>
<li><p style="margin:1px;"><b>Phone.</b> +917858832086</p></li>
</ol>
</div>
<br>
</div>
<br><br>
</div>
{% endblock content %}
